/* Main search container styles */
.search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px auto; /* Center the container*/
    max-width: 800px; /* Set max width for the container */
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}


/* Input container styles */
.input-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

/* style for the postcode input field */
.postcode-input {
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #e97700;
    border-radius: 5px;
    
}

/* Search button styles */
.search-button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #d1470b;
    color: white;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease-in-out;
}

.search-button:hover {
    background-color: #e97700;
}

/* Error message styles */
.error-message  {
    color: #d1470b;
    font-size: 14px;
    margin-bottom: 10px;

}

/* No vendors styles */
.no-vendors-message {
    font-style: italic;
    font-size: 16px;
    margin-top: 10px;
}

/* map container*/
.map-container {
    flex: 1;
    max-width: 600px;
    height: 400px;
    margin-top: 20px;
    border-radius: 5px;
    overflow: hidden;
}
/* button to get more details about vendor*/
.vendor-more-details-button {
    display: inline-block;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #d1470b;
    color: white;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease-in-out;
    
}

.vendor-more-details-button:hover {
    background-color: #e97700;
}

.search-results {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    margin-top: 20px; 
}